* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  color: #414141;
  background-color: #f1ece4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", "san-serif";
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.canter {
  margin: auto;
  text-align: center;
}
